.slider {
    position: relative;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.image {
    width: 1200px;
    height: 500px;
   
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: -5%;
    font-size: 3rem;
    color: var(--button-color);
    z-index: 0;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: -5%;
    font-size: 3rem;
    color: var(--button-color);
    z-index: 0;
    cursor: pointer;
    user-select: none;
}

